<% provide(:title, "À propos") %>

<h1><span>We</span> Meet In Toulouse</h1>

<h3 class="subheader">Le calendrier de la fabuleuse communauté technologique de Toulouse.</h3>


<h2>Objectifs</h2>
L'idée ce calendrier est de recencer les nombreux événements de la fabuleuse communauté technologique de Toulouse.

<h2>Ajouter un évènement</h2>
Pour l'instant, le processus est manuel. 
Si vous êtes organisateur régulier d'évènements sur Toulouse, il suffit de demander gentillement à avoir accès en écriture au calendrier à <%= link_to 'Antoine', 'http://twitter.com/avernois' %> ou <%= link_to 'Nicolas', 'http://twitter.com/ndeverge' %>. Sinon, un petit message avec les bonnes infos, et on le rajoutera (nom, lieu, lien vers descriptif et inscription).

<h2>Technique</h2>
Il s'agit d'un bon vieux calendrier google partagé enrobé dans une petite appli rails (totalement overkill puiqu'elle ne sert que des pages statiques :), le tout hébergé sur <%= link_to 'heroku', 'http://heroku.com' %>.