<% provide(:title, "Home") %>
<div class="center">
    <div class=" hero-unit">
        <h1>Le calendrier</h1>
    </div>
    
    <iframe src="https://www.google.com/calendar/embed?src=titkqiqe5bsg7ij1hh757f2hvg%40group.calendar.google.com&ctz=Europe/Paris" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>