@import "foundation";
@import "lib/webfonts";

body{
  background: $white url('background.png') repeat-x;
}

h1, h2 {
  color: #333;
  span{
    color: $mainColor;
  }
}

.nav-bar{
  background: transparent;
  &>li{
    line-height: 1.4em;
    border: none;
    &:last-child{
      border: none;
    }
    &>a:first-child{
      @include font-size(24);
      @extend .league_gothic;
      color: $black;
    }
    &:hover{
      background: transparent;
      a{
        color: #e6a74d;
      }
    }
  }
}

#header{
  background-color: transparent;
  background-image: url('rainbow.png');
  background-repeat: repeat-x;
  @include background-size(100% 3px);

  h1{
    margin: 10px 0 0 0;
    span{
      color: $black;
    }
    li{
      a{
        color: black;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 20px;
        &:hover, &.active{
          text-decoration: none;
        }
      }
    }
  }

  .inner_container{
    @include outerRow;
    padding-left:172px;
    background:url("logo.png") left 10px no-repeat;
    position:relative;height:130px;
    h1 {
      @include column(7);
      @include font-size(32);
    }
  }
  #main_nav {
    @include outerRow;
    @extend .nav-bar;
    @extend .league_gothic;
    margin-top:-70px !important;
    li {
      a {
        padding:0 10px !important;
      }
      &:first-child {
        margin-left:176px !important;
      }
    }
  }
}

#footer{
  
  @include outerRow;
  
  hr {
    @include column(12);
  }
  .content {
    @include outerRow;

    ul {
      @include column(4);
      @include offsetBy(8);
      @extend .link-list;
      
    }
  }
}